/**
* Copyright  2016 MIMOS Berhad. All Rights Reserved 
*
* All intellectual properties not limited to patents, trademarks, industrial designs,
* copyrights, know-how including layout of images and contents contained herein 
* belong to MIMOS Berhad. Any reproduction, modification, distribution 
* or republishing materials without prior written consent is prohibited.
*   
* Class name: my.mimos.tpcohcis.report.dental.pg101.repository.PG101Repository
* Description: 
* 
*/

## Include
#parse("include/var_entity.vm")
#set( $regex = "([a-z])([A-Z]+)")
#set( $replacement = "$1_$2")

package my.mimos.tpcohcis.report.${groupName}.${entityInstance}.generate.repository;

import java.sql.Timestamp;
import java.util.List;
import java.util.Date;

import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.data.jpa.repository.Query;
import org.springframework.data.repository.query.Param;

import my.mimos.tpcohcis.report.${groupName}.${entityInstance}.generate.model.${entityClass};

public interface ${entityClass}Repository extends JpaRepository<${entityClass}, Long> {


   //TODO : change
@Query(value =
			"SELECT\n" +
					#foreach($field in $entity.attributes )
					#set( $toDash = $field.name.replaceAll($regex, $replacement).toLowerCase())
					"    #if ($field.type == "String") 'NA' #elseif($field.type == "long" || $field.type == "Long") 0 #elseif( $field.type == "int" || $field.type == "Integer") 0 #elseif( $field.type == "date" || $field.type == "Date") current_date #end as ${toDash} #if( $foreach.hasNext ), #end \n" +
					#end
					"  FROM report.rpt_${groupName}_${entityInstance} rs\n" +
					"   where rs.created_at between ?1 and ?2 "	, nativeQuery = true)
	List<Object[]> findByYear( Timestamp from, Timestamp to);



}
