
/**
* Copyright  2016 MIMOS Berhad. All Rights Reserved 
*
* All intellectual properties not limited to patents, trademarks, industrial designs,
* copyrights, know-how including layout of images and contents contained herein 
* belong to MIMOS Berhad. Any reproduction, modification, distribution 
* or republishing materials without prior written consent is prohibited.
*   
* Class name: my.mimos.tpcohcis.report.ohcis.pg101.etl.model.PG101SourceRegister
* Description: 
* 
*/

## Include
#parse("include/var_entity.vm")
package my.mimos.tpcohcis.report.${groupName}.${entityInstance}.generate.model;

import java.io.Serializable;
import java.sql.Timestamp;

import javax.persistence.Column;
import javax.persistence.Entity;
import javax.persistence.Id;
import javax.persistence.Table;

import my.mimos.tpcohcis.report.shared.model.AbstractReportEntity;


@Entity
@Table(name = "rpt_${groupName}_${entityInstance}_src_registry", schema = "report")
public class ${entityClass}SourceRegister extends AbstractReportEntity implements Serializable {
    
  	@Id
	@Column(name = "VISIT_ID")
	private Long visitId;
	
	@Column(name = "UPDATED_AT")
	protected Timestamp updatedAt;

	public Long getVisitId() {
		return visitId;
	}

	public void setVisitId(Long visitId) {
		this.visitId = visitId;
	}

	public Timestamp getUpdatedAt() {
		return updatedAt;
	}

	public void setUpdatedAt(Timestamp updatedAt) {
		this.updatedAt = updatedAt;
	}


}
