#parse("include/var_entity.vm")
#set( $regex = "([a-z])([A-Z]+)")
#set( $replacement = "$1_$2")
-- drop create src_registry and rpt table 
DROP TABLE IF EXISTS report.rpt_${groupName}_${entityInstance}_src_registry;
CREATE TABLE report.rpt_${groupName}_${entityInstance}_src_registry
(
#foreach($field in $entity.keyAttributes ) 
  #set( $toDash = $field.name.replaceAll($regex, $replacement).toUpperCase())
   ${toDash}#if ($field.type == "String") character varying(255) #elseif($field.type == "long" || $field.type == "Long") bigint #elseif( $field.type == "int" || $field.type == "Integer") integer #elseif( $field.type == "date" || $field.type == "Date") timestamp without time zone #end,
#end
  updated_at timestamp without time zone,
  -- default field snapshot
  snapshot timestamp without time zone,
 #foreach($field in $entity.keyAttributes ) 
  #set( $toDash = $field.name.replaceAll($regex, $replacement).toUpperCase())
    CONSTRAINT rpt_${groupName}_${entityInstance}_src_registry_pkey PRIMARY KEY (${toDash})
#end
);  

DROP TABLE IF EXISTS report.rpt_${groupName}_${entityInstance};
CREATE TABLE report.rpt_${groupName}_${entityInstance}
(
#foreach($field in $entity.attributes )
#set( $toDash = $field.name.replaceAll($regex, $replacement).toUpperCase())
   ${toDash}#if ($field.type == "String") character varying(255) #elseif($field.type == "long" || $field.type == "Long") bigint #elseif( $field.type == "int" || $field.type == "Integer") integer #elseif( $field.type == "date" || $field.type == "Date") timestamp without time zone #end,
#end
  -- default field snapshot
   snapshot timestamp without time zone,
#foreach($field in $entity.keyAttributes ) 
  #set( $toDash = $field.name.replaceAll($regex, $replacement).toUpperCase())
    CONSTRAINT rpt_${groupName}_${entityInstance}_pkey PRIMARY KEY (${toDash})
#end
);

-- correct sequence
SELECT setval('report.rpt_co_metadata_report_metadata_id_seq', (SELECT max(report_metadata_id) FROM report.rpt_co_metadata));

-- Delete report filter ${entityCaps} 
DELETE FROM report.rpt_co_report_filter WHERE report_id = (SELECT report_metadata_id FROM report.rpt_co_metadata WHERE report_code = '${entityCaps}');
DELETE  FROM report.rpt_co_metadata WHERE report_code = '${entityCaps}';

INSERT INTO report.rpt_co_metadata( report_code, report_display_name, report_name, report_type, report_module, etl_class, url,armc_resource_id,is_enabled) VALUES ('${entityCaps}', '${entityCaps}', 'Report ${entityCaps}', 'STATIC', '${groupName.toUpperCase()}', '', '','reports_${groupName}_${entityInstance}_rd',true);

-- Insert  report filter ${entityCaps} 
INSERT INTO report.rpt_co_report_filter(report_id, filter_id) VALUES ((SELECT report_metadata_id FROM report.rpt_co_metadata WHERE report_code = '${entityCaps}'), 1);
INSERT INTO report.rpt_co_report_filter(report_id, filter_id) VALUES ((SELECT report_metadata_id FROM report.rpt_co_metadata WHERE report_code = '${entityCaps}'), 2);
INSERT INTO report.rpt_co_report_filter(report_id, filter_id) VALUES ((SELECT report_metadata_id FROM report.rpt_co_metadata WHERE report_code = '${entityCaps}'), 19);
INSERT INTO report.rpt_co_report_filter(report_id, filter_id) VALUES ((SELECT report_metadata_id FROM report.rpt_co_metadata WHERE report_code = '${entityCaps}'), 18);

